# 1) Dice rolls

# a)

In [15]:
dice_rolls = "Files/dice_rolls.txt" 

import random as rnd
dices = [rnd.randint (1,6) for i in range (20)]
print (f"Simulate 20 dice rolls:\n{dices}")

with open (dice_rolls, "w") as f:
    f.write (f"Simulate 20 dice rolls:\n{dices} \n")

Simulate 20 dice rolls:
[4, 1, 4, 5, 1, 6, 6, 3, 4, 2, 3, 4, 6, 2, 2, 5, 5, 3, 5, 3]

# b)

In [16]:

dice_rolls = "Files/dice_rolls.txt"
import random as rnd
dices.sort()
print (f"Sorted dice rolls:\n{dices}")
with open (dice_rolls, "a") as f1:
    f1.write(f"Sorted dice rolls:\n{dices} \n")

Sorted dice rolls:
[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6]

# c)

In [17]:
dice_rolls = "Files/dice_rolls.txt"
import random as rnd
num = dices.count (4)
print (f"Number of four is: {num}")
with open (dice_rolls, "a") as f2:
    f2.write(f"Number of four is: {num} \n")

Number of four is: 4

# 2) Test results

In [13]:
path ="Files/test_results.txt"

with open (path, "r", encoding="utf-8") as f, open(path, "a", encoding="utf-8") as f1:
    texts = [text.strip(" \n") for text in f.readlines()]
    print(texts)
    texts.sort()
    print(texts)
    #f2.write(f"{text}")  # generate a list of strings: [a, b, c, ...]
    
    f1.write("\n\nSorted alphabetically: \n\n")
    for name in texts:
        f1.write(f"{name}\n")

['Adam Gustafsson 25', 'Emil Johansson 23', 'Sven Erik Karlsson 13', 'Ove Karlsten 41', 'Emma Boden 32', 'Ida Håkansson 23', 'Ella Ester 41', 'Hanna Karlsson 23', 'Johan Johansson 42', 'Sven Erik Lundin 39', 'Björn Björnsson 39', 'Karl Karlsson 32', 'Bose Bosseson 32', 'Håkan Håkanson 24', 'Jonas Jonasson 31', 'Erik Eriksson 31', 'Gore Bord 55', 'Jakob Kallander 65', 'Fredrika Ulven 10Sorted alphabetically:', '', 'Adam Gustafsson 25', 'Björn Björnsson 39', 'Bose Bosseson 32', 'Ella Ester 41', 'Emil Johansson 23', 'Emma Boden 32', 'Erik Eriksson 31', 'Fredrika Ulven 10', 'Gore Bord 55', 'Hanna Karlsson 23', 'Håkan Håkanson 24', 'Ida Håkansson 23', 'Jakob Kallander 65', 'Johan Johansson 42', 'Jonas Jonasson 31', 'Karl Karlsson 32', 'Ove Karlsten 41', 'Sven Erik Karlsson 13', 'Sven Erik Lundin 39']
['', 'Adam Gustafsson 25', 'Adam Gustafsson 25', 'Björn Björnsson 39', 'Björn Björnsson 39', 'Bose Bosseson 32', 'Bose Bosseson 32', 'Ella Ester 41', 'Ella Ester 41', 'Emil Johansson 23', 'Emil Johansson 23', 'Emma Boden 32', 'Emma Boden 32', 'Erik Eriksson 31', 'Erik Eriksson 31', 'Fredrika Ulven 10', 'Fredrika Ulven 10Sorted alphabetically:', 'Gore Bord 55', 'Gore Bord 55', 'Hanna Karlsson 23', 'Hanna Karlsson 23', 'Håkan Håkanson 24', 'Håkan Håkanson 24', 'Ida Håkansson 23', 'Ida Håkansson 23', 'Jakob Kallander 65', 'Jakob Kallander 65', 'Johan Johansson 42', 'Johan Johansson 42', 'Jonas Jonasson 31', 'Jonas Jonasson 31', 'Karl Karlsson 32', 'Karl Karlsson 32', 'Ove Karlsten 41', 'Ove Karlsten 41', 'Sven Erik Karlsson 13', 'Sven Erik Karlsson 13', 'Sven Erik Lundin 39', 'Sven Erik Lundin 39']